/* Layout */
.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start]
    min(
      (100% - (var(--padding-inline) * 2)) / 2,
      (var(--content-max-width) / 2)
    )
    [middle]
    min(
      (100% - (var(--padding-inline) * 2)) / 2,
      (var(--content-max-width) / 2)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width, .left, .right),
.full-width > :not(.breakout, .full-width, .left, .right) {
  grid-column: content;
}

.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
  grid-template-areas: 'padding toc content metadata padding';
}

@media (max-width: 1199px) {
  .content-grid > .full-width {
    grid-template-areas: none;
  }
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .left,
.full-width > .left {
  grid-column: breakout-start / middle;
}
.content-grid > .right,
.full-width > .right {
  grid-column: middle / breakout-end;
}
.content-grid > .copy-right,
.content-grid > .middle-left,
.content-grid > .middle-right,
.full-width > .copy-right {
  grid-column: breakout;
}

.content-grid > .full-width {
  display: grid;
  grid-template-columns: inherit;
}

@media (max-width: 600px) {
  :root {
    --padding-inline: var(--spacing-lg);
  }
}

@media (min-width: 768px) {
  .content-grid > .left,
  .full-width > .left {
    grid-column: breakout-start / middle;
  }
  .content-grid > .middle-left,
  .full-width > .middle-left {
    grid-column: breakout-start / middle;
  }
  .content-grid > .middle-right,
  .full-width > .middle-right {
    grid-column: middle / breakout-end;
  }
}

@media (min-width: 1024px) {
  .content-grid,
  .full-width {
    column-gap: var(--spacing-xl);
  }
  .content-grid > .left,
  .full-width > .left {
    grid-column: breakout-start / content-start;
  }
  .full-width > .middle-left {
    grid-column: content-start / middle;
  }
  .full-width > .middle-right {
    grid-column: middle / content-end;
  }
  .full-width > .right {
    grid-column: content-end / breakout-end;
  }
  .full-width > .copy-right {
    grid-column: content-end / breakout-end;
  }
}

#sanity {
  grid-column: full-width;
  z-index: 0;
}