* {
  box-sizing: border-box;
  transition:
    background-color var(--transition-fast),
    border-color var(--transition-fast);
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--color-bg-base);
  color: var(--color-text-base);
  font-family: var(--font-inter);

  ::selection {
    background-color: var(--color-selection-bg);
    color: var(--color-selection-text);
  }
}

main {
  min-height: calc(100dvh - var(--header-height));
  background-color: var(--color-bg-base);
}