* {
  box-sizing: border-box;
  transition:
    background-color var(--transition-fast),
    border-color var(--transition-fast);
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--color-bg-base);
  color: var(--color-text-base);
  font-family: var(--font-inter);

  ::selection {
    background-color: var(--color-selection-bg);
    color: var(--color-selection-text);
  }
}

main {
  min-height: calc(100dvh - var(--header-height));
  background-color: var(--color-bg-base);
}

section {
  margin-bottom: var(--spacing-2xl);
  &:first-child {
    margin-top: var(--spacing-2xl);
  }
  &:last-child {
    margin-bottom: 0;
  }
}

#cta {
  padding-block: var(--spacing-2xl);
  background-color: var(--color-bg-secondary);

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--spacing-md);
  }

  li > a {
    text-decoration: none;
  }
}
