* {
  box-sizing: border-box;
  transition:
    background-color var(--transition-fast),
    border-color var(--transition-fast);
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--color-bg-base);
  color: var(--color-text-base);
  font-family: var(--font-inter);
  overflow-x: hidden;

  ::selection {
    background-color: var(--color-selection-bg);
    color: var(--color-selection-text);
  }
}

main {
  min-height: calc(100dvh - var(--header-height));
  background-color: var(--color-bg-base);
}

main > section {
  margin-bottom: var(--gap-lg);
  &:first-child {
    margin-top: var(--gap-lg);
  }
}

#cta {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--spacing-md);
  }

  li > a {
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  :root {
    --gap-md: var(--spacing-md);
    --gap-lg: var(--spacing-2xl);

  }
}
