#hero {
  ul {
    a {
      font-size: var(--font-size-sm);
      font-family: var(--font-trispace);
      text-transform: uppercase;

      &:hover {
        color: var(--color-text-primary);
        text-decoration: underline;
      }
    }

    :not(:last-child)::after {
      content: ' / ';
      color: var(--color-text-muted);
      margin-left: var(--gap-xs);
    }
  }

  button {
    display: inline-block;
    margin: var(--gap-sm) var(--gap-sm) 0 0;
  }
}
